<div class="hidden md:flex flex-col w-40 xl:w-48 items-center pt-8 pb-8 fixed left-0 top-1/2 -translate-y-1/2 bg-black px-4 py-3 rounded-r-xl space-y-2 z-50">
  <a href="/#text" class="text-white border border-white px-4 py-2 w-36 xl:w-40 rounded hover:bg-white hover:text-black transition text-center">
    Text
  </a>
  <a href="/#audio" class="text-white border border-white px-4 py-2 w-36 xl:w-40 rounded hover:bg-white hover:text-black transition text-center">
    Audio
  </a>
  <a href="/#image" class="text-white border border-white px-4 py-2 w-36 xl:w-40 rounded hover:bg-white hover:text-black transition text-center">
    Image
  </a>
</div>
