<div
    class="cursor-default min-h-screen  p-0 mt-12 md:p-6 md:pl-44 pace-y-12 md:px-32 px-1 ">

    <!-- If subscribed -->
    <div *ngIf="isSubscribed"
        class="m-4 mb-10 p-6 bg-white dark:bg-[#343541] max-w-3xl xl:mx-auto border border-gray-300 dark:border-gray-600 rounded-xl shadow-md">

        <div class="flex flex-col gap-6 text-xl">
            <div
                class="text-4xl font-semibold text-gray-800 dark:text-white text-center">
                🎤 Speak in any language, get English translation
            </div>

            <!-- Recording Controls -->
            <div class="flex justify-center gap-4 my-2">
                <button (click)="toggleRecording()"
                    [disabled]="false"
                    class="px-6 py-2 bg-green-600 hover:bg-green-700 text-white rounded-lg shadow">
                    {{ recording ? 'Stop Recording' : 'Start Recording' }}
                </button>

            </div>
        </div>
    </div>

    <!-- Translated Text Display -->
    <div *ngIf="translatedText && translatedText!==''"
        class="mt-4 p-4 max-w-4xl mx-auto bg-gray-100 dark:bg-gray-700 rounded-md">
        <div class="flex justify-end mb-2">
            <button
                (click)="playAudio()"
                class="flex items-center gap-2 px-4 py-2 bg-gray-600 text-white font-medium rounded hover:bg-gray-500 transition">
                Play Audio
            </button>
        </div>
        <h3
            class="text-3xl font-semibold text-gray-800 dark:text-white">Translated
            Text:</h3>
        <p class="text-gray-700 text-2xl dark:text-gray-300">{{ translatedText
            }}</p>
    </div>

    <!-- If not subscribed -->
    <div *ngIf="!isSubscribed"
        class="m-10 p-6 text-center text-xl font-semibold text-red-600 border-red-400 border-2 border-dashed rounded-lg">
        Not Subscribed ❌
    </div>
</div>
